/*Global*/
$font-text: 'Montserrat', 'sans-serif';
$font-text-one: 'Roboto Slab', 'serif';
$font-text-two: 'droid-serif', 'serif';
$font-text-tree: 'Lobster Two', 'cursive';
$color-one: #ffffff;
$color-two: #ffd11a;
$color-three: #777777;
$color-four: #1a1a1a;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    color: $color-four;
    padding: 120px 230px;
}

.section-title {
    font-size: 40px;
    font-family: $font-text;
    margin: 0 auto;
    text-align: center;
}

.row {
    padding-top: 80px;
}

.section-subtitle {
    font-family: $font-text-two;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: $color-three;
    word-spacing: -2px;
    text-align: center;
}

.box {
    font-family: $font-text-one;
    font-size: 14px;
    color: $color-three;
    font-weight: 300;
    text-align: center;
    word-spacing: -2px;

    h3 {
        font-family: $font-text;
        font-size: 18px;
        color: $color-four;
        font-style: normal;
        padding-top: 25px;
        padding-bottom: 20px;
    }
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: $color-one;
    color: $color-three;

    &:hover {
    background-color: $color-two;
    color: $color-one;
    
    }
}

/*Header*/

.header {
    background-image: url("../images/Background_Image.png");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: $color-one;
    font-family: $font-text;
    font-size: 14px;
}


.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 54px;
  }
    
header ul {
        list-style-type: none;

        li {
        display: inline-block;
        margin: 0 25px;
        }

        a {
            text-decoration: none;
            color: $color-one;
               &:hover {
               color: $color-two;
               }
           }
}

.logo {
    text-align: left;
}

.menu {
    text-align: right;
}

.logo-title {
    color: $color-two;
    font-family: $font-text-tree;
    font-size: 26px;
    margin: 0 auto;
    font-style: italic;
}

.header-splash {
    text-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.splash-inner {
    padding-top: 54px;
}

.page-title {
    font-family: $font-text-two;
    font-size: 40px;
    letter-spacing: -2px;
    font-style: italic;
    font-weight: 400;

    span {
        font-family: $font-text;
        font-size: 75px;
        font-style: normal;
        font-weight: 700;
    }
}

/*Services*/

.services-box i {
    font-size: 35px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: $color-two;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
}

/*Portfolio*/
.portfolio {
    background-color: #f7f7f7;
}

.portfolio-text {
    text-align: center;
    background-color: $color-one;
    padding: 30px 0;

    h3 {
        padding: 0;
    }

    p {
        font-style: italic;
    }
}

.portfolio-image {
    width: 100%;
    height: 300px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.wrapper {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

/*Footer*/
footer ul {
    padding: 0;
    list-style-type: none;
    
    li  {
        display: inline-block; 
        font-size: 0;
    }

    i   {
        font-size: 20px;
        background: $color-four;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: $color-one;
        border-radius: 50%;
        text-align: center;
        padding: 10px;
        margin-right: 5px;
    }
}

.footer-icons {
    padding: 0;
  }

.footer-text {
    display: inline-block;
    font-size: 14px;
    color: $color-three;
    font-family: $font-text;
    word-spacing: -1px;
    padding: 0;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }

footer {
    padding: 35px 230px;
}

/*Media*/
@media (max-width: 992px) {
.section,
footer {
    padding: 50px 0;
}

.header-navigation .menu {
    padding: 30px 0;
    margin: auto;
    text-align: center;
}
}

@media (max-width: 768px) {
.section-description {
    margin-bottom: 24px;
    & .page-subtitle {
      font-size: 28px;
    }
}
/*Header*/
.header-navigation {
    .logo {
      text-align: center;
    }  
}
    
header ul li{
    margin: 5px 10px;
}

.splash-inner {
    .page-title {
        font-size: 18px;
        span {
            font-size: 28px;
            margin: 15px 15px;
        }
    }
}

/*Services*/
.services {
    margin: 36px auto;

    .box {
         margin: 20px 0;
    }   
    .row {
        margin-right: 15px;
        margin-left: 15px;
        padding-top: 20px;
    }
}

/*Portfolio*/
.portfolio {
    margin: 36px auto;
    padding: 36px 0;
    .box {
        margin: 20px 0;
    }  
    .row {
        margin-right: 15px;
        margin-left: 15px;
        padding-top:20px;
    }
}
/*Footer*/
.footer-section {
    text-align: center;
    .footer-text {
      padding: 10px 0;
      order: 1;
    }
    .footer-icon {
    order: 2;
    }
}
}